<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KalibreerMShape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CalibreerMShape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KalibreerMShape.Properties.Settings>
            <setting name="inputfolder" serializeAs="String">
                <value>c:\temp\LRS</value>
            </setting>
            <setting name="mshape" serializeAs="String">
                <value>vw_lrs_spoortak</value>
            </setting>
            <setting name="lrs" serializeAs="String">
                <value>spoorhartlijn</value>
            </setting>
            <setting name="mshape_kmbegin" serializeAs="String">
                <value>km_begin</value>
            </setting>
            <setting name="mshape_kmeind" serializeAs="String">
                <value>km_eind</value>
            </setting>
            <setting name="lrs_sleutel" serializeAs="String">
                <value>GEOCODE</value>
            </setting>
            <setting name="mshape_sleutel1" serializeAs="String">
                <value>GEOCODE_BE</value>
            </setting>
            <setting name="raai" serializeAs="String">
                <value>hm_raai2</value>
            </setting>
            <setting name="raai_sleutel" serializeAs="String">
                <value>GEOCODE</value>
            </setting>
            <setting name="raai_afstand" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="mshape_sleutel2" serializeAs="String">
                <value>GEOCODE_EI</value>
            </setting>
            <setting name="mshape_maxafstand" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lrs_selectie" serializeAs="String">
                <value>(NOT ("SUBCODE"&lt;'9')) OR ("SUBCODE"='') AND ("GEOCODE"='{0}' OR "GEOCODE"='{1}')</value>
            </setting>
            <setting name="mshape_tolerantie" serializeAs="String">
                <value>100</value>
            </setting>
        </KalibreerMShape.Properties.Settings>
        <CalibreerMShape.Properties.Settings>
            <setting name="inputfolder" serializeAs="String">
                <value>c:\temp\LRS</value>
            </setting>
            <setting name="mshape" serializeAs="String">
                <value>vw_lrs_spoortak</value>
            </setting>
            <setting name="lrs" serializeAs="String">
                <value>spoorhartlijn</value>
            </setting>
            <setting name="mshape_kmbegin" serializeAs="String">
                <value>km_begin</value>
            </setting>
            <setting name="mshape_kmeind" serializeAs="String">
                <value>km_eind</value>
            </setting>
            <setting name="lrs_sleutel" serializeAs="String">
                <value>GEOCODE</value>
            </setting>
            <setting name="mshape_sleutel1" serializeAs="String">
                <value>GEOCODE_BE</value>
            </setting>
            <setting name="raai" serializeAs="String">
                <value>hm_raai2</value>
            </setting>
            <setting name="raai_sleutel" serializeAs="String">
                <value>GEOCODE</value>
            </setting>
            <setting name="raai_afstand" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="mshape_sleutel2" serializeAs="String">
                <value>GEOCODE_EI</value>
            </setting>
        </CalibreerMShape.Properties.Settings>
    </userSettings>
</configuration>